<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @samplex.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @samplex.lname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @samplex.lname %>
</p>

<%= link_to 'Edit', edit_samplex_path(@samplex) %> |
<%= link_to 'Back', samplexes_path %>
